$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;

// Gradient pairs
$header-gradient1: #00173e;
$header-gradient2: #003797;

$headernav-gradient1: #000E26;
$headernav-gradient2: #1b3561;

$green-gradient1: #00460E;
$green-gradient1: #008B1C;

$blue-gradient1: #21437A;
$blue-gradient2: #4285F4;

// Materialize
$secondary-color: color("blue", "darken-3") !default;